/*! Normalise CSS !*/
@import url(normalize.css);
/*!Root Css!*/
@import url(root.css);
/*! Google Fonts !*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*! Google Fonts !*/

//! Reset Css
* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeSpeed !important;
}
html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
    padding: 0px;
    color: #3d414d;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #fff;
    overflow-x: hidden;
}
p {
    padding: 0px;
    margin: 0px 0 12px;
    color: #3d414d;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    &:last-child {
        margin: 0;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    -webkit-object-fit: cover;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        margin: 0;
        padding: 0;
    }
}

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

//! Button css Global
.btn {
    display: inline-block;
    border-radius: 12px;
    background: var(--Sky-Blue, #00b3f0);
    padding: 16px;
    color: var(--White, #fff);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    &.full {
        display: block;
    }

    &:focus,
    &:active,
    &:active:focus {
        outline: 0;
        box-shadow: none;
        background: #00759c;
        color: var(--White, #fff);
        // border: 1px solid #00759c;
    }
    &:hover {
        background: #00759c;
        color: var(--White, #fff);
        // border: 1px solid #00759c;
    }
}

//! form css global
.form-control::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder {
    color: var(--neutral-light-gray, #aeaeae);
    opacity: 1;
    font-size: var(--font-size-m);
}
.form-control::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="search"]::-moz-input-placeholder {
    color: var(--neutral-light-gray, #aeaeae);
    opacity: 1;
    font-size: var(--font-size-m);
}
.form-control:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="search"]::-ms-input-placeholder {
    color: var(--neutral-light-gray, #aeaeae);
    opacity: 1;
    font-size: var(--font-size-m);
}
.form-control:-moz-placeholder,
input[type="text"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder,
select:-moz-placeholder,
input[type="number"]:-moz-placeholder,
input[type="date"]:-moz-placeholder,
input[type="search"]::-moz-input-placeholder {
    color: var(--neutral-light-gray, #aeaeae);
    opacity: 1;
    font-size: var(--font-size-m);
}

.form-control,
input[type="text"],
input[type="tel"],
input[type="email"],
textarea,
input[type="password"],
input[type="number"],
select,
input[type="search"] {
    display: block;
    width: 100%;
    border: none;
    box-shadow: none;
    color: black;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    padding: 12px;
    border-radius: 4px;
    background: var(--neutral-white, #fff);
    margin-bottom: 20px;
    line-height: normal;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    transition: all 0.3s ease-in-out;
    position: relative;
    border-radius: 4px;
    border: 1px solid var(--neutral-light-gray, #aeaeae);
    &:focus {
        outline: none;
    }
}
textarea.form-control,
textarea {
    height: 150px;
    resize: none;
    overflow: hidden;
}
.form-control:focus,
textarea.form-control:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #8b8b8b;
    background-color: #fff;
    box-shadow: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    background-image: url(../images/down-arrow-select.png);
    background-position: calc(100% - 15px);
    background-repeat: no-repeat;
    font-size: var(--font-size-16);
    color: var(--grey);
    height: auto;
    padding: 14px 35px 14px 20px;
    line-height: normal;
    font-family: var(--globalInter);
    font-weight: 400;
    text-transform: none;
    cursor: pointer;
    background-color: #fff;
    background-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    margin-bottom: 12px;
}
select:focus {
    border: 1px solid #cccccc;
    outline: none;
    background-color: #fff;
}
select option {
    color: var(--grey);
    font-size: 14px;
    font-weight: 400;
}

label {
    color: #3d414d;
    font-family: "Manrope", sans-serif;
    font-size: 12px !important;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.28px;
    margin: 0px 0px 4px;
    padding: 0;
}

label.checkbox {
    font-size: var(--font-size-16);
    color: var(--blackHeading);
    display: flex;
    align-items: flex-start;
    gap: 10px;
    line-height: 21px;
    margin-bottom: 20px;
    input[type="checkbox"] {
        width: 32px;
        height: 18px;
        background: var(--white);
        border: 1px solid var(--blackHeading);
        top: 1px;
        position: relative;
    }
}

//! Section starts
header {
}

// ! Body
.noheader-nosidebar {
    header {
        display: none;
    }
    .sidebar {
        display: none;
    }
    footer {
        display: none;
    }
}
// ! Globals
//!  Font sizes
.fs24 {
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.fs20 {
    color: var(--dark2-gray, #323232);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}
.fs16 {
    color: var(--Black, #000);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}
.fs12 {
    color: var(--Dark-Gray, #505050);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.darkgrey {
    color: var(--Dark-Gray, #505050);
}

//! Font size

// ! Scroller
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}
// ! Scroller

// ! wrap
.wrap {
    display: flex;
    align-items: flex-start;
    //! Sidebar
    .sidebar {
        max-width: 288px;
        flex: 288px;

        border-right: 1px solid var(--Light-gay, #dfdfdf);
        background: #fff;
        height: 100vh;
        position: relative;
        .logo {
            margin-bottom: 60px;
            padding: 28px;
            padding-bottom: 0;
            img {
                width: 43px;
            }
        }
        .menulist {
            padding: 28px;
            padding-top: 0;
            height: calc(100vh - 280px);
            overflow: auto;

            ul {
                li {
                    margin-bottom: 8px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    a {
                        color: black;
                        font-family: Montserrat;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        border-radius: 8px;
                        padding: 12px 8px;
                        display: flex;
                        // flex-direction: column;
                        align-items: center;
                        img {
                            margin-right: 16px;
                            transition: all 0.3s ease-in-out;
                        }
                        &:hover {
                            background: var(--Sky-Blue, #00b3f0);
                            color: var(--White, #fff);
                            img {
                                filter: brightness(0) invert(1);
                            }
                        }
                    }
                }
            }
        }
        .logout {
            padding: 28px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            a {
                color: var(--Black, #000);
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                &:hover {
                    color: #00b3f0;
                    img {
                        filter: brightness(0) saturate(100%) invert(70%) sepia(63%) saturate(5703%) hue-rotate(160deg)
                            brightness(100%) contrast(101%);
                    }
                }
                img {
                    margin-right: 16px;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
    //! Sidebar
    //! Topbar
    .topbar {
        padding: 8px 38px;
        border-bottom: 1px solid var(--Light-gay, #dfdfdf);
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .top-right {
            ul {
                display: flex;
                align-items: center;
                gap: 30px;
                li {
                    img {
                    }
                    a {
                        position: relative;
                        &.noti {
                            img {
                                width: 17px;
                            }
                            span {
                                width: 18px;
                                border-radius: 50px;
                                border: 1px solid var(--White, #fff);
                                background: var(--Red, #e43f5a);
                                color: var(--Light-Gray, #f6f6f6);
                                text-align: center;
                                font-family: Montserrat;
                                font-size: 10px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: normal;
                                display: block;
                                position: absolute;
                                top: -9px;
                                padding: 3px;
                                right: -9px;
                            }
                        }
                    }
                    .profile {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 12px;
                        & > img {
                            .profile-pic {
                                width: 41px;
                            }
                        }
                    }
                }
            }
        }
    }
    //! Topbar

    //! footbar
    footer {
        padding: 20px;
        text-align: center;
        border-top: 1px solid var(--Light-gay, #dfdfdf);
        background: var(--White, #fff);
        p {
            color: #636363;
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
    //! footbar
}
// ! wrap

//!right main content
.content {
    width: calc(100% - 288px);
    flex: calc(100% - 288px);
}
//!right main content

// ! Globals

.hamberger {
    display: none;
}

// ! Login Page
.login {
    height: 100vh;

    .container-fluid {
        height: 100%;

        .row {
            height: 100%;
            align-items: center;
        }
    }

    .img_div {
        padding-left: 27px;
        padding-right: 25px;

        img {
            width: 100%;
        }
    }

    .form_div {
        padding-right: 218px;

        .logo {
            margin-bottom: 20px;
            max-width: 72px;
        }

        h3 {
            margin-bottom: 0;
            color: #000;
            font-family: Montserrat;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: inherit;
        }

        form {
            margin-top: 40px;

            .btn {
                width: 100%;
                margin: 28px 0;
            }

            .form-label {
                color: var(--Black, #000);
                font-family: Montserrat;
                font-size: 16px !important;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-transform: capitalize;
                margin-bottom: 8px;
            }

            .passwrd {
                position: relative;

                .toggle-password {
                    position: absolute;
                    right: 14px;
                    top: 17px;
                    cursor: pointer;

                    &.eye-open {
                        &::before {
                            content: "";
                            position: absolute;
                            top: 5px;
                            right: 8px;
                            background-color: #5e5e5e;
                            width: 4px;
                            height: 4px;
                            border-radius: 50%;
                        }
                    }
                }

                .form-control {
                    margin-bottom: 12px;
                }
            }

            .form-control {
                border-radius: 12px;
                background: var(--Light-Gray, #f6f6f6);
                border: none;
                padding: 18px 16px;

                color: #000;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 20px;

                &::placeholder {
                    color: var(--Dark-Gray, #505050);
                }
            }

            a {
                &.frgt {
                    color: var(--Dark-Gray, #505050);
                    text-align: right;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: normal;
                    text-align: right;
                    width: 100%;
                    display: inline-block;
                }
            }

            p {
                &.rstr {
                    color: var(--Dark-Gray, #505050);
                    text-align: center;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    a {
                        color: #000;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    &.sign {
        .form_div {
            form {
                .form-control {
                    margin-bottom: 28px;
                }

                .passwrd {
                    .form-control {
                        margin-bottom: 12px;
                    }
                }
            }
        }
    }

    &.rp_dv {
        .form_div {
            form {
                .form-control {
                    margin-bottom: 0;
                }
            }
        }
    }

    &.np_dv {
        .form_div {
            form {
                .form-control {
                    margin-bottom: 28px;
                }
            }
        }
    }
}
// ! Login Page

//! Dashboard Page
.main-content {
    overflow-y: auto;
    padding: 35px 40px;
    .mb40 {
        margin-bottom: 40px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .contracts-card {
        padding: 16px;
        border-radius: 16px;
        border: 1px solid var(--Light-Gray, #f6f6f6);
        background: var(--Light-Gray, #f6f6f6);
        h6 {
            color: var(--gray-500, #71717a);
            font-family: Montserrat;
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 1px;
            margin-bottom: 11px;
        }
        h5 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--gray-900, #18181b);
            font-family: Montserrat;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            .indicator {
                color: var(--green-500, #22c55e);
                text-align: right;
                font-family: Montserrat;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 21px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 4px;
            }
        }
    }
    .borderbx {
        border-radius: 16px;
        border: 1px solid var(--Stroke, #e0e3e8);
        background: var(--White, #fff);
        padding: 24px;
        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        a {
            color: var(--Sky-Blue, #00b3f0);
            font-family: Montserrat;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1px;
        }
        h5 {
            color: var(--Black, #000);
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px; /* 150% */
        }
        select {
            max-width: 92px;
            border-radius: 10px !important;
            border: 1px solid var(--gray, #c9c9c9);
            background: var(--White, #fff);
            color: var(--Dark-Gray, #505050);
            text-align: left;
            font-family: Montserrat;
            font-size: 10px;
            font-style: normal;
            font-weight: 600;
            line-height: 18px;
            padding: 4px 12px;
            display: inline-block;
            appearance: inherit !important;
            margin: 0;
            option {
                font-size: 10px;
                font-style: normal;
                font-weight: 600;
                line-height: 18px;
            }
        }
        ul {
            padding: 20px 0 15px 7px;
            padding-bottom: 0;
            height: 362px;
            overflow-y: auto;
            li {
                display: flex;
                justify-content: space-between;
                margin-bottom: 12px;
                &:last-child {
                    margin-bottom: 0;
                }
                .lftcontent {
                    display: flex;
                    gap: 13px;
                    align-items: center;

                    img {
                        width: 36px;
                        flex-shrink: 0;
                        // margin-right: 13px;
                    }
                    h6 {
                        color: var(--Black, #000);
                        font-family: Montserrat;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 22px; /* 169.231% */
                        margin-bottom: 3px;
                    }
                    p {
                        color: var(--Dark-Gray, #505050);
                        font-family: Montserrat;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 22px; /* 169.231% */
                    }
                }
                .rgtcontent {
                    h6 {
                        color: var(--Black, #000);
                        text-align: right;
                        font-family: Montserrat;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 21px; /* 161.538% */
                        margin-bottom: 3px;
                    }
                    p {
                        color: var(--Dark-Gray, #505050);
                        text-align: right;
                        font-family: Montserrat;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 22px; /* 169.231% */
                    }
                }
            }
        }
        .boxcontent {
            .table > :not(caption) > * > * {
                border-bottom: none;
            }
            .table {
                margin-top: 20px;
                background-color: white;
                border: none;
                box-shadow: none;
                margin-bottom: 0;
                height: 351px;
                overflow-y: auto;
                table {
                    width: 100%;
                    border: none;
                }
            }
            tr {
                padding: 0;
                &:last-child {
                    // td {
                    //     border-bottom: none;
                    //     padding-bottom: 0;
                    // }
                }
            }
            th,
            td {
                padding: 12px;
                text-align: left;
            }
            th {
                border-bottom: 1px solid var(--Stroke, #e0e3e8);
                background: var(--Light-Gray, #f6f6f6);
                color: var(--Black, #000);
                font-family: Montserrat;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 18px; /* 150% */
                &:first-child {
                    border-top-left-radius: 16px;
                }
                &:last-child {
                    border-top-right-radius: 16px;
                }
            }
            td {
                overflow: hidden;
                color: var(--Secondary-Text, #667085);
                text-overflow: ellipsis;
                font-family: Montserrat;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; /* 142.857% */
                padding: 26px 12px;
                border-bottom: 1px solid var(--Stroke, #e0e3e8);
                span.overflow-custom {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    overflow: hidden;
                    max-width: 174px;
                }
                &:first-child {
                    background-color: #fff;
                    overflow: hidden;
                    color: var(--Black, #000);
                    text-overflow: ellipsis;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px; /* 142.857% */
                }
            }
        }
    }
}

.chips {
    padding: 2px 8px 2px 20px;
    background-color: rgb(235 235 235);
    border-radius: 16px;
    display: inline-block;
    position: relative;
    span {
        // color: var(--Red, #e43f5a);
        color: var(--Black, #000);
        text-align: center;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px; /* 150% */
    }
    &:before {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: rgb(184, 184, 184);
        border-radius: 50%;
        left: 6px;
        top: 50%;
        transform: translateY(-50%);
    }
    &.red {
        span {
            color: var(--Red, #e43f5a);
        }
        background: #fdecec;
        &:before {
            background-color: #e43f5a;
        }
    }
    &.yellow {
        span {
            color: #e49700;
        }
        background: #fdf7ec;
        &:before {
            background-color: #e49700;
        }
    }
    &.green {
        span {
            color: #027a48;
        }
        background: #ecfdf3;
        &:before {
            background-color: #027a48;
        }
    }
}

.support {
    .titlebar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // padding: 9px;
        h6 {
            color: var(--Black, #000);
            font-family: Montserrat;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            padding: 9px 0;
        }

        .searchbx {
            border-radius: 12px;
            border: 1px solid var(--gray, #c9c9c9);
            background: var(--BG, #fafafb);
            padding: 12px;
            input[type="search"] {
                color: var(--gray, #222222);
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px; /* 112.5% */
                background: url("../images/search-normal.svg") no-repeat 0 0;
                margin-bottom: 0;
                border: none;
                padding: 0 0 0 20px;
                &::placeholder,
                &:-moz-placeholder,
                &:-ms-input-placeholder {
                    color: var(--gray, #c9c9c9);
                }
            }
        }
    }
    .chatlist {
        ul {
            li {
                display: inline-flex;
                align-items: center;
                gap: 12px;
                .imgbx {
                    width: 48px;
                    height: 48px;
                }
                .chatlistbody {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    flex: 1 0 0;
                    h6 {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        align-self: stretch;
                    }
                    p {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        align-self: stretch;
                        .content-overflow {
                            max-width: 226px;
                            overflow: hidden;
                            color: var(--Other-Gray, #7e7e7e);
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            font-family: Montserrat;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                        }
                    }
                }
            }
        }
    }
}
